:root {
  --color-one: #2b7cdf;
  --color-one-dark: #0d488e;
  --color-one-overlay: #1260be;
  --color-two: #e21b3c;
  --color-two-dark: #b1152f;
  --color-two-overlay: #d01937;
  --color-three: #d89e00;
  --color-three-dark: #a97c00;
  --color-three-overlay: #c79200;
  --color-four: #26890c;
  --color-four-dark: #1e6b09;
  --color-four-overlay: #237e0b;
  --color-five: #f2f2f2;
  --color-five-dark: #a7a7a7;
  --color-five-overlay: #dfdfdf;

  --navbar-color: #46178f;

  --input-text-shadow: #d9d9d9;

  --color-black: #444444;
  --color-white: #ffffff;

  --font-size: 16px;

  --background-color: rgb(243, 243, 243);

  --button-animation-duration: 150ms;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

html,
body {
  height: 100vh;
  color: var(--color-black);
}

#root,
.app {
  height: 100%;
}

/* Utilities */
.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.mr-0 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 2rem;
}

/* Buttons */
.button {
  display: inline-block;
  background: var(--color-five-dark);
  max-width: 100%;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all var(--button-animation-duration) ease-in-out;
}

.button.fluid {
  width: 100%;
}

.button.disabled {
  cursor: no-drop;
}

.button.disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.45);
}

.button:focus {
  outline: none;
}

.button::-moz-focus-inner {
  border: none;
}

.button::before {
  content: '';
  background: var(--color-five);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 92%;
  border-radius: 4px;
  transition: all var(--button-animation-duration) ease-in-out;
}

.button > span {
  position: relative;
}

.button:hover {
  top: 2px;
}

.button.disabled:hover {
  top: 0;
}

.button:hover::before {
  content: '';
  background: var(--color-five-overlay);
  height: 96%;
}

.button.disabled:hover::before {
  content: '';
  background: var(--color-five);
  height: 92%;
}

.button.one {
  background: var(--color-one-dark);
  color: var(--color-white);
}

.button.one::before {
  content: '';
  background: var(--color-one);
}

.button.one:hover::before {
  content: '';
  background: var(--color-one-overlay);
}

.button.one.disabled:hover::before {
  content: '';
  background: var(--color-one);
}

.button.two {
  background: var(--color-two-dark);
  color: var(--color-white);
}

.button.two::before {
  content: '';
  background: var(--color-two);
}

.button.two:hover::before {
  content: '';
  background: var(--color-two-overlay);
}

.button.two.disabled:hover::before {
  content: '';
  background: var(--color-two);
}

.button.three {
  background: var(--color-three-dark);
  color: var(--color-white);
}

.button.three::before {
  content: '';
  background: var(--color-three);
}

.button.three:hover::before {
  content: '';
  background: var(--color-three-overlay);
}

.button.three.disabled:hover::before {
  content: '';
  background: var(--color-three);
}

.button.four {
  background: var(--color-four-dark);
  color: var(--color-white);
}

.button.four::before {
  content: '';
  background: var(--color-four);
}

.button.four:hover::before {
  content: '';
  background: var(--color-four-overlay);
}

.button.four.disabled:hover::before {
  content: '';
  background: var(--color-four);
}

.button.six {
  background: transparent;
  color: var(--color-white);
  padding: 10px 18px;
  border: 1px solid var(--color-white);
}

.button.six:hover {
  color: rgb(206, 206, 206);
  border-color: rgb(206, 206, 206);
}

.button.six::before {
  content: '';
  background: var(--color-five);
  height: 0;
}

/* Image Buttons */
.image-button {
  display: inline-block;
  padding: 0.5rem 0.55rem;
  border: none;
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
  color: 14px;
}

.image-button:focus {
  border: 1px solid var(--color-white);
  outline: none;
}

.image-button::-moz-focus-inner {
  border: none;
}

.image-button.one:focus {
  border: 1px solid var(--color-one);
}

/* Badges */
.badge {
  display: inline-block;
  padding: 6px 10px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
}

.badge.one {
  color: var(--color-white);
  background: var(--color-one);
}

/* Cards */
.card {
  background-color: var(--color-white);
  border-radius: 3px;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.99);
}

/* Modals */
.modal-container {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
}

.modal-container.visible {
  display: block;
}

.modal-container > div {
  height: 100%;
  overflow: auto;
}

.modal-container .modal {
  background: var(--color-white);
  max-width: 100%;
  border-radius: 5px;
  padding: 1rem;
  animation-name: pulse;
  animation-duration: 200ms;
  margin: 3rem auto;
}

.modal-container .modal.normal {
  width: 50%;
}

.modal-container .modal.small {
  width: 30%;
}

@media (max-width: 960px) {
  .modal-container .modal.normal {
    width: 80%;
  }

  .modal-container .modal.small {
    width: 40%;
  }
}

/* Notifications */
.notification {
  display: none;
  width: 20%;
  position: fixed;
  top: 0;
  left: calc(120%);
  margin: 1rem;
  border-radius: 5px;
  z-index: 1200;
}

.notification.visible {
  display: block;
  animation: notificationEnter 500ms forwards;
}

.notification.hidden {
  display: block;
  animation: notificationExit 500ms forwards;
}

.notification .notification-inner-container {
  position: relative;
}

.notification .notification-inner-container > header {
  position: absolute;
  top: 0;
  right: 0;
}

.notification .notification-inner-container > header .image-button {
  color: var(--color-white);
  margin-left: 1rem;
}

.notification .notification-inner-container > section {
  padding: 1rem;
  width: 92%;
}

.notification.error {
  background: rgba(226, 27, 60, 0.95);
  color: var(--color-white);
}

.notification.success {
  background: rgba(34, 177, 76, 0.95);
  color: var(--color-white);
}

.notification.info {
  background: rgba(34, 178, 234, 0.95);
  color: var(--color-black);
}

.notification.info .notification-inner-container > header .image-button {
  color: var(--color-black);
}

@media (max-width: 960px) {
  .notification {
    width: 40%;
  }
}

/* Navbars */
.navbar {
  position: sticky;
  top: 0;
  height: 56px;
  overflow: hidden;
  z-index: 2;
}

.navbar-home-container {
  background: var(--navbar-color);
  color: var(--color-white);
}

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.navbar-home > .menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.navbar-home > .menu .logo,
.navbar-auth > .menu .logo {
  line-height: 0;
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
}

.navbar-auth > .menu .logo {
  color: var(--color-one);
}

.navbar-home > .menu ul {
  list-style: none;
  color: var(--color-white);
  margin: 0 2rem;
  height: 100%;
}

.navbar-home > .menu ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 1.5rem;
  height: 100%;
}

.navbar-home > .menu ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 0;
  position: relative;
}

.navbar-home > .menu ul li a:focus {
  outline: none;
}

.navbar-home > .menu ul li a > span {
  margin-right: 0.5rem;
}

.navbar-home > .menu ul li a:hover::after,
.navbar-home > .menu ul li a.active:hover::after {
  content: '';
  height: 3px;
  width: 100%;
  background: rgb(204, 204, 204);
  position: absolute;
  bottom: 0;
}

.navbar-home > .menu ul li a.active::after {
  content: '';
  height: 3px;
  width: 100%;
  background: var(--color-white);
  position: absolute;
  bottom: 0;
  transition: all 200ms ease-in-out;
}

.navbar-auth-container {
  background: var(--color-white);
  color: var(--color-black);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.navbar-auth {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-auth > .actions > span {
  font-style: italic;
  margin: 0 1rem;
}

.navbar-home.navbar-creator > .menu .edit {
  background: var(--color-white);
  padding: 0.35rem 0.35rem 0.35rem 1rem;
  border-radius: 4px;
  margin: 0 3rem;
  cursor: pointer;
}

.navbar-home.navbar-creator > .menu .edit > span {
  color: #777777;
  font-weight: 700;
  margin-right: 3rem;
}

@media (max-width: 960px) {
  .navbar-auth {
    padding: 0 2rem;
  }
}

/* FormInputs */
.form-input {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}

.form-input > .label {
  display: block;
  margin-bottom: 3px;
  font-weight: 700;
}

.form-input > .label > span {
  margin-left: 5px;
  font-size: 12px;
  color: #777;
  font-weight: 400;
}

.form-input > .input-container {
  position: relative;
}

.form-input > .input-container .input {
  display: block;
  width: 100%;
  padding: 0.8rem 0.9rem;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

.form-input > .input-container .input:invalid {
  box-shadow: none;
}

.form-input > .input-container .input:focus {
  outline: none;
  border: 1px solid var(--color-one);
}

.form-input > .input-container .counter {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 12px;
  color: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* DropZone */
.dropzone {
  width: 100%;
  height: 100%;
  border: 2px #c5c5c5 dashed;
  border-radius: 5px;
  position: relative;
}

.dropzone .input-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.dropzone .input-file-label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.dropzone .input-file-label.active {
  background: rgba(0, 0, 0, 0.2);
}

.dropzone .input-file-label.inactive {
  background: transparent;
}

.dropzone .input-file-label > span {
  font-size: 15px;
}

.dropzone .input-file-label > span i {
  display: block;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: gray;
}

.dropzone .input-file-label .image-block {
  position: relative;
  height: 100%;
}

.dropzone .input-file-label .image-block img {
  display: inline-block;
  max-width: 100%;
  height: 100%;
}

.dropzone .input-file-label .image-block img:hover + .delete-container {
  display: flex;
}

.dropzone .input-file-label .image-block .delete-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 500ms forwards;
}

.dropzone .input-file-label .image-block .delete-container:hover {
  display: flex;
}

.dropzone .input-file-label .image-block .delete-container.inactive {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Auth */
.app {
  display: flex;
  flex-direction: column;
}

.auth {
  background: var(--background-color);
  position: relative;
  flex: 1;
}

.auth-form-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
  height: calc(100% - 56px);
}

.auth-form-container .auth-form-inner-container {
  width: 50%;
}

.auth-form-container .auth-form-inner-container h1 {
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.auth-form-container .auth-form-inner-container > p {
  margin: 0.75rem 0 0.5rem 0;
  color: gray;
}

.auth-form-container .auth-form-inner-container .auth-form {
  background: var(--color-white);
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

/* Home */
.home {
  background: var(--background-color);
  position: relative;
  flex: 1;
}

.home .inner-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  position: relative;
  height: calc(100% - 56px);
}

.home .inner-container .sidebar {
  background: var(--color-white);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .home .inner-container .sidebar {
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
  }
}

.home .inner-container .sidebar .user {
  display: flex;
  align-items: center;
}

.home .inner-container .sidebar .user .initials {
  width: 36px;
  height: 36px;
  background: var(--color-one);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-white);
}

.home .inner-container .sidebar .user .info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.home .inner-container .sidebar .user .info span:nth-child(1) {
  font-size: 15px;
  font-weight: 500;
}

.home .inner-container .sidebar .user .info span:nth-child(2) {
  color: gray;
  margin-top: 2px;
}

.home .inner-container .sidebar .actions .image-button {
  font-weight: 700;
}

.home .inner-container .sidebar .actions .image-button .fas {
  margin-right: 0.5rem;
}

.home .inner-container .main {
  overflow-y: auto;
}

.game-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.game-form .image-container {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}

.game-form .image-container > span {
  display: inline-block;
  margin-bottom: 3px;
  font-weight: 700;
}

.game-form .image-container .dropzone {
  max-height: 223px;
}

@media (max-width: 1024px) {
  .home .inner-container {
    grid-template-columns: none;
    height: inherit;
  }

  .home .inner-container .sidebar {
    height: 56px;
  }
}

/* Creator */
.creator {
  display: grid;
  grid-template-columns: 2fr 14fr;
  height: 100%;
  position: relative;
  flex: 1;
  background: var(--background-color);
}

.creator .sidebar {
  position: relative;
  background: var(--color-white);
  overflow: hidden;
}

.creator .sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: #d8d8d8;
}

.creator .sidebar .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.creator .sidebar .button {
  margin: 1rem;
}

.creator .main {
  overflow-y: auto;
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .creator {
    grid-template-columns: 3fr 13fr;
  }
}

@media (max-width: 1024px) {
  .creator {
    grid-template-columns: none;
    grid-template-rows: 13fr 3fr;
    grid-auto-flow: dense;
  }

  .creator .sidebar {
    grid-row: 2;
  }

  .creator .sidebar::after {
    content: '';
    right: 0;
    width: 100%;
    height: 3px;
  }

  .creator .sidebar .inner-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
}

/* Question List */
.question-list {
  margin-bottom: 1rem;
  list-style: none;
}

.question-list li {
  display: flex;
}

.question-list li.active {
  background: #f3f3f3;
}

.question-list li .button-container {
  align-self: flex-end;
}

.question-list li .button-container > button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 0.5rem;
  border: none;
  background: none;
  font-size: 1rem;
  margin: 0 0 1rem 1rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: gray;
}

.question-list li .button-container > button:hover {
  background: rgb(199, 199, 199);
}

.question-list li .question-box {
  margin: 1rem;
  padding: 3rem;
  border: 2px dashed #e1e1e1;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.question-list li .question-box:hover {
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  border-color: transparent;
}

@media (max-width: 1024px) {
  .question-list {
    display: flex;
    height: 100%;
    margin: 0;
  }

  .question-list li {
    align-items: center;
  }

  .question-list li .question-box {
    padding: 1.5rem 3rem;
    text-align: center;
  }
}

/* Question Form */
.question-form {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 3rem 3rem 0 3rem;
}

.question-form .title-container {
  background: rgb(207, 207, 207);
  border-radius: 6px;
  padding-bottom: 4px;
}

.question-form .title-container .title {
  display: inline-block;
  width: 100%;
  border: none;
  font-size: 40px;
  text-align: center;
  padding: 2.5rem 3rem;
  border-radius: 6px;
  cursor: pointer;
}

.question-form section:nth-child(2) {
  display: grid;
  grid-template-rows: 2fr 1fr;
  flex-grow: 1;
}

.question-form .props-container {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  padding: 1rem 0;
}

.question-form .props-container .time-points-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}

.question-form .props-container .time-points-container .prop-container > p {
  font-size: 15px;
}

.question-form
  .props-container
  .time-points-container
  .prop-container
  .prop-button {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: var(--color-white);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.06);
  margin: 0.5rem 0 0 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.question-form
  .props-container
  .time-points-container
  .prop-container.points
  .prop-button {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.question-form
  .props-container
  .time-points-container
  .prop-container.points
  > p {
  margin: 0 1rem;
}

.question-form
  .props-container
  .time-points-container
  .prop-container
  .prop-button:hover {
  background: var(--color-one);
  color: var(--color-white);
  transform: scale(0.9);
}

.question-form
  .props-container
  .time-points-container
  .prop-container
  .prop-button:focus {
  outline: none;
}

.question-form
  .props-container
  .time-points-container
  .prop-container
  .prop-button::-moz-focus-inner {
  border: none;
}

.question-form .props-container .image-container {
  min-height: 290px;
}

.question-form .answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

/* Answer Input */
.answer-input {
  background: #e1e1e1;
  border-radius: 6px;
  padding-bottom: 3px;
  transition: all 800ms ease-in-out;
}

.answer-input.one.active {
  background: var(--color-one-dark);
}

.answer-input.two.active {
  background: var(--color-two-dark);
}

.answer-input.three.active {
  background: var(--color-three-dark);
}

.answer-input.four.active {
  background: var(--color-four-dark);
}

.answer-input.one.inactive,
.answer-input.two.inactive,
.answer-input.three.inactive,
.answer-input.four.inactive {
  background: #e1e1e1;
}

.answer-input .answer-input-inner-container {
  background: var(--color-white);
  height: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  transition: all 800ms ease-in-out;
}

.answer-input.one.active .answer-input-inner-container {
  background: var(--color-one);
}

.answer-input.two.active .answer-input-inner-container {
  background: var(--color-two);
}

.answer-input.three.active .answer-input-inner-container {
  background: var(--color-three);
}

.answer-input.four.active .answer-input-inner-container {
  background: var(--color-four);
}

.answer-input.one.inactive .answer-input-inner-container,
.answer-input.two.inactive .answer-input-inner-container,
.answer-input.three.inactive .answer-input-inner-container,
.answer-input.four.inactive .answer-input-inner-container {
  background: var(--color-white);
}

.answer-input .answer-input-inner-container .input {
  flex-grow: 1;
  margin-left: 4px;
  border: none;
  font-size: 20px;
  background: transparent;
}

.answer-input .answer-input-inner-container .input.inactive {
  font-weight: 400;
  color: var(--color-black);
}

.answer-input .answer-input-inner-container .input.active {
  font-weight: 700;
  color: var(--color-white);
}

.answer-input .answer-input-inner-container .checkbox-container.inactive {
  display: none;
}

.answer-input .answer-input-inner-container .checkbox-container.active {
  display: flex;
}

.answer-input .answer-input-inner-container .checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.answer-input .answer-input-inner-container .checkbox-container .checkbox {
  position: absolute;
  top: calc((100% - 30px) / 2);
  left: 0;
  width: 100%;
  height: 30px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.answer-input
  .answer-input-inner-container
  .checkbox-container
  .checkbox:checked
  + div
  .fas {
  display: inherit;
  animation: pulse 300ms forwards;
}

.answer-input .answer-input-inner-container .checkbox-container > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  color: rgb(52, 223, 103);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-input .answer-input-inner-container .checkbox-container > div .fas {
  display: none;
}

.answer-input .answer-input-inner-container .shape-container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  border-radius: 3px;
  width: 35px;
}

.answer-input.one .answer-input-inner-container .shape-container {
  background: var(--color-one);
}

.answer-input.one .answer-input-inner-container .shape-container .shape {
  width: 15px;
  height: 15px;
  background: var(--color-white);
  transform: rotate(45deg);
}

.answer-input.two .answer-input-inner-container .shape-container {
  background: var(--color-two);
}

.answer-input.two .answer-input-inner-container .shape-container .shape {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--color-white);
}

.answer-input.three .answer-input-inner-container .shape-container {
  background: var(--color-three);
}

.answer-input.three .answer-input-inner-container .shape-container .shape {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-white);
}

.answer-input.four .answer-input-inner-container .shape-container {
  background: var(--color-four);
}

.answer-input.four .answer-input-inner-container .shape-container .shape {
  width: 20px;
  height: 20px;
  background: var(--color-white);
}

/* Props Modal */
.props-modal-body header > .title {
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.props-modal-body main {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.props-modal-body main .choices {
  list-style: none;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.props-modal-body main .choices li {
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  background: #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.props-modal-body main .choices li.active,
.props-modal-body main .choices li.active:hover {
  background: var(--color-one);
  color: var(--color-white);
}

.props-modal-body main .choices li:hover {
  background: #dbdbdb;
}

.props-modal-body main .actions .button {
  margin: 0 0.3rem;
}

/* Action Modal */
.action-modal-body header > .title {
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.action-modal-body main {
  margin: 0 1rem 3rem 1rem;
}

.action-modal-body footer {
  display: flex;
  justify-content: center;
}

.action-modal-body footer .button {
  margin: 0 0.3rem;
}

/* Kahoots */
.kahoots .kahoots-inner-container {
  max-width: 80%;
  margin: 0 auto;
}

.kahoots .search-container {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kahoots .search-container .inner-container {
  width: 50%;
  position: relative;
  font-size: 16px;
  display: block;
}

@media (max-width: 1024px) {
  .kahoots .kahoots-inner-container {
    max-width: 90%;
  }

  .kahoots .search-container .inner-container {
    width: 60%;
  }
}

.kahoots .search-container .inner-container .input-search {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
}

.kahoots .search-container .inner-container .input-search:focus {
  border: 2px solid var(--color-black);
  box-shadow: none;
}

.kahoots .search-container .inner-container > span {
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  right: 1rem;
  font-size: 26px;
}

/* GameList */
.game-list {
  list-style: none;
}

.game-list li {
  margin: 1rem 0;
}

.game-item {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.game-item .left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  height: 200px;
  background: #e1e1e1;
}

@media (max-width: 1024px) {
  .game-item .left {
    height: 150px;
  }
}

.game-item .left > img {
  height: 100%;
  max-width: 100%;
}

.game-item .left > span {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 3px;
}

.game-item .right {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.game-item .right .top {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-item .right .top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-item .right .top > div .image-button {
  color: gray;
}

.game-item .right .top p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.game-item .right .top p:nth-child(2) {
  text-align: end;
  color: gray;
}

.game-item .right .bottom {
  background: #f5f5f5;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 1rem;
}

.game-item .right .bottom > button {
  border: none;
  padding: 0.5rem 1rem;
  background: var(--color-four);
  font-weight: 700;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.game-item .right .bottom > button:hover {
  background: var(--color-four-overlay);
}

/* Animations */
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes notificationEnter {
  to {
    left: 75%;
  }
}

@media (max-width: 960px) {
  @keyframes notificationEnter {
    to {
      left: 55%;
    }
  }
}

@keyframes notificationExit {
  from {
    left: 75%;
    display: block;
  }

  to {
    left: 120%;
    display: none;
  }
}

@media (max-width: 960px) {
  @keyframes notificationExit {
    from {
      left: 55%;
    }

    to {
      left: 120%;
    }
  }
}
